html, body {
    overflow: hidden;
}

/*
background image trick found here:;
http://css-tricks.com/perfect-full-page-background-image/
*/
#bg {
  position: fixed; 
  top: 25%; 
  left: 50%; 
  width: 70%; 
  height: 70%;
  z-index: -1;
  opacity: .1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 50%; 
  bottom: 25%; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#wrapper {
    margin: 0 auto;
    width:80%;
    margin-top: 5%;
}

table.smaller th,
table.smaller td {
    font-size: 2.3em;
    font-family: Arial, sans-serif;
}

table.infoscreen-caption{
    width: 100%;
    border: none;
}

table.infoscreen-caption td {
    font-size: 3.5em;
    font-weight: bold; 
    color: #96948e;
    border: none;
}

tr.infoscreen-gray td {
    background-color: #eee;
    color: #000;
}

td.infoscreen-gray {
    background-color: #eee;
    color: #000;
}

tr.infoscreen-gray th {
    background-color: #dbdee2;
    color: #000;
}

td.infoscreen-right,
th.infoscreen-right {
    white-space:nowrap;
    text-align: right;
}

td.infoscreen-left,
th.infoscreen-left{
  text-align: left;}

table.smaller {
    width: 100%;
    padding: 1px; 
    /*border: 1px solid #d0d0d0; */
    border-collapse:collapse;
}

table.smaller tr td,
table.smaller tr th {
    line-height: normal;
    padding-left: 0.75ex;
    padding-right: 0.75ex;
    padding-top: 0.75ex;
    padding-bottom: 0.75ex;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    vertical-align: top !important;
    border: none !important;
    /*border-right: 1px solid #d0d0d0 !important;
    border-bottom: 1px solid #d0d0d0 !important;*/
}
  
table.smaller tr,
table.smaller th {
    text-align: left;
}

.time {
    width: 20%;
}